<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Cliente</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>

    <div class="container">
        <h1>Cadastro de Cliente</h1>
        <h2 th:text="${clientes.nomeCliente}"></h2>
        <h2 th:text="${clientes.endereco}"></h2>
        <h2 th:text="${clientes.numero}"></h2>
        <h2 th:text="${clientes.bairro}"></h2>
        <h2 th:text="${clientes.cidade}"></h2>
        <h2 th:text="${clientes.dtCadastro}"></h2>
        <a href="/clientes/">Retornar</a>
    </div> 

    <script src="/js/jquery-3.5.1.slim.min.css"></script>
    <script src="/js/popper.min.css"></script>
    <script src="/js/bootstrap.min.css"></script>
</body>
</html>