<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Produtos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>

    <div class="container">
        <h1>Cadastro de Produtos</h1>
        <h2 th:text="${produtos.descricao}"></h2>
        <h2 th:text="${produtos.grupo}"></h2>
        <h2 th:text="${produtos.aliquota}"></h2>
        <h2 th:text="${produtos.precoCusto}"></h2>
        <h2 th:text="${produtos.precoVenda}"></h2>
        <a href="/produtos/">Retornar</a>
    </div> 

    <script src="/js/jquery-3.5.1.slim.min.css"></script>
    <script src="/js/popper.min.css"></script>
    <script src="/js/bootstrap.min.css"></script>
</body>
</html>